body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.header {
    background-color: #ffcdb2;
    color: #6d6875;
    text-align: center;
    padding: 20px;
}

/* Paleta de Colores */
.color {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    display: inline-block;
}

.primary {
    background-color: #ffcdb2;
}

.secondary {
    background-color: #ffb4a2;
}

.tertiary {
    background-color: #e5989b;
}

.quaternary {
    background-color: #b5838d;
}

.quinary {
    background-color: #6d6875;
}

/* Tipografía */
.font-primary {
    font-family: "Arial", sans-serif;
}

.font-secondary {
    font-family: "Helvetica", sans-serif;
}

/* Botones */
.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.primero {
    background-color: #ffb4a2;
    color: #6d6875;
}

.segundo {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}

/* Símbolos */
.symbol {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    display: inline-block;
    border: 1px solid #333;
}

.symbol-1 {
    width: 50%;
    display: block;
    height: auto; 
}

.symbol-2 {
    width: 50%;
    display: block;
    height: auto;
}

.symbol-3 {
    width: 50%;
    display: block;
    height: auto;
}

.symbol-4 {
    width: 50%;
    display: block;
    height: auto;
}

.symbol-5 {
    width: 50%;
    display: block;
    height: auto;
}

.symbol-6 {
    width: 50%;
    display: block;
    height: auto;
}

.symbol-7 {
    width: 50%;
    display: block;
    height: auto;
}