body {
    font-family: Arial, sans-serif;
}


.galeria {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}


.imagenes-pequeñas {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 1px solid #ccc;
    cursor: pointer;
}


#imagen-grande {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 1px solid #ccc;
}