*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 50%;
    display: block;
    height: auto;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("./imagenes/fondo.jpg");
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    background-color: #FFB4A2;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

nav li {
    display: inline;
    margin: 0 20px;
    width: 100px;
    height: 50px;
    list-style: none;
    font-size: 22px;
    text-align: center;
    
}

li:hover{
    opacity: 50%;
    height: auto;
    align-items: center;
}

.galeria{
    display: flex;
}

.gallery {
    width: 50%;
    display: flex;
    grid-gap: 10px;
    flex-wrap: wrap;
}

.imagenes-pequeñas {
    width: 150px;
    height: 150px;
    border: 10px solid #FFB4A2;
    cursor: pointer;
    margin: 10px;
    object-fit: right;
}

.grande{
    width: 50%;
    height: 50%;
}

#imagen-grande {
    display: flex;
    margin: 10%;
    object-fit: center;
    border: 20px solid #6D6875;

}