*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 50%;
    display: block;
    height: auto;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    background-color: #FFB4A2;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

nav li {
    display: inline;
    margin: 0 20px;
    width: 100px;
    height: 50px;
    list-style: none;
    font-size: 22px;
    text-align: center;
    
}

li:hover{
    opacity: 50%;
    height: auto;
    align-items: center;
}


nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

/* Estilos de los botones */
.boton {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.boton img {
    background-color: #898989;
    opacity: 50%;
    width: 350px;
    height: 800px;
}

.boton p {
    font-weight: bold;
    font-size: 16px;
}

.animated-button {
    animation: appearFromTop 1s ease forwards;
}

@keyframes appearFromTop {
    0% {
        opacity: 0;
        transform: translateX(1000px); /* Comienzan 20px arriba */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* Terminan en su posición original */
    }
}

.fa-bars{
    font-size: 40px;
    margin-top: 4px;
    color: #6D6875;
}

/* Estilos de los enlaces */
#enlaces {
    text-align: center;
    padding: 20px;
}

button {
    padding: 10px 20px;
    background-color: #6D6875;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #6D6875;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    nav ul {
        display: block;
        padding: 0;
    }

    nav li {
        display: block;
        text-align: center;
        margin: 10px 0;
    }

    #botones {
        text-align: center;
    }
}

.blurredBg {
    position: fixed;
    z-index: 1; /* Se asegura de que el fondo esté detrás del logo */    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    backdrop-filter: blur(5px); 
}
.mova-chan {
    width: 200px;
    position: fixed;
    z-index: 2; /* Asegura que el logo esté al frente de todo */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotateLogo 3s infinite linear, opacity 3s infinite linear; /* Animación que hace que el logo gire */
}

@keyframes rotateLogo {
    from {
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }
    to { 
        transform: translate(-50%, -50%) rotate(360deg) scale(5.5); 
    }
}

@keyframes opacity{
    0%{opacity: 1;}
    80%{opacity: 0.75;}
    90%{opacity: 0.5;}
    100%{opacity: 0;}
}

/* Diseño Responsivo */
/* SE CUMPLE HASTA LOS 768px */
@media screen and (max-width: 768px) {
    .menuToggle {
        display: flex;
    }
    
    .fa-bars {
    font-size: 24px;
    color: #6D6875;
    }
    
    /* Inicialmente el navegador no se ve */
    .barradenavegación {
        display: none;
        flex-direction: column;
        background-color: #FFB4A2;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        text-align: center;
        border-radius: 0 0 10px 10px;
    }

    /* Cuando tenga la clase activa, entonces se verá */
    .barradenavegación.active {
        display: flex;
    }

    .fa-bars {
        font-size: 28px;
    }

    h1 {
        font-size: 20px;
    }

    .barradenavegación li {
        margin: 10px 0;
    }

    .barradenavegación a {
        font-size: 18px;
    }
}