*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "arial";
}
img{
    width: 50%;
    display: block;
    height: auto;
}
nav ul {
    list-style: none;
    background-color: #FFB4A2;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

nav li {
    display: inline;
    margin: 0 20px;
    width: 100px;
    height: 50px;
    list-style: none;
    font-size: 22px;
    text-align: center;
    
}

li:hover{
    opacity: 50%;
    height: auto;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.fa-bars{
  font-size: 40px;
  margin-top: 4px;
  color: #6D6875;
}

h1{
  font-family: "Helvetica";
  color: #B5838D;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffb4b4;
    border: 1px solid #905454;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(101, 1, 1, 0.1);
  }
  
  /* Estilos para las etiquetas */
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #030781;
  }
  
  /* Estilos para los campos de entrada */
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #e39e9e;
    border-radius: 5px;
  }
  
  /* Estilo para el botón de envío (si lo tienes) */
button[type="submit"] {
  background-color: #6c59ed;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

/* Estilo para el botón de envío al pasar el ratón */
button[type="submit"]:hover {
  background-color: #6c59ed;
}

button[type="button"] {
  background-color: #6c59ed;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

/* Estilo para el botón de envío al pasar el ratón */
button[type="button"]:hover {
  background-color: #6c59ed;
}

.fa-bars{
  font-size: 40px;
  margin-top: 4px;
  color: #6D6875;
}

/* Estilos de los enlaces */
#enlaces {
  text-align: center;
  padding: 20px;
}

button {
  padding: 10px 20px;
  background-color: #6D6875;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #6D6875;
}

@media screen and (max-width: 768px) {
nav ul {
    display: block;
    padding: 0;
}

nav li {
    display: block;
    text-align: center;
    margin: 10px 0;
}

#botones {
    text-align: center;
}
}

@keyframes rotateLogo {
from {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
}
to { 
    transform: translate(-50%, -50%) rotate(360deg) scale(5.5); 
}
}

@keyframes opacity{
0%{opacity: 1;}
80%{opacity: 0.75;}
90%{opacity: 0.5;}
100%{opacity: 0;}
}
.menuToggle{
display: none;
}
/* Diseño Responsivo */
/* SE CUMPLE HASTA LOS 768px */
@media screen and (max-width: 768px) {
.menuToggle {
    display: block;
}

.menuToggle li{
    width: 50px;
    /* display: block; */
    margin: auto;
    margin-top: 10px;
}

.fa-bars {
font-size: 24px;
color: #000000;
}

/* Inicialmente el navegador no se ve */
.barradenavegación {
    display: none;
    flex-direction: column;
    background-color: #FFB4A2;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

/* Cuando tenga la clase activa, entonces se verá */
.barradenavegación.active {
    display: flex;
}

.fa-bars {
    font-size: 28px;
}

h1 {
    font-size: 20px;
}

.barradenavegación li {
    margin: 10px 0;
}

.barradenavegación a {
    font-size: 18px;
}
}